loaddefs.el*
backups/*
auto-save-list
places
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
session*
tramp
\#*
*.elc
*.pyc
# yes i use VIM to edit emacs config files because it's fucking amazing
*.swp
*.swo
history
elpa/
.smex-items
el-get/
ac-comphist.dat
.desktop/
custom.el
