[submodule "prelude"]
    path = prelude
    url = https://github.com/bbatsov/prelude.git
    version = ef115319f7676213d82ffe45b2c4fdb04af5c283
[submodule "vendor/emacs-flymake"]
    path = vendor/emacs-flymake
    url = https://github.com/illusori/emacs-flymake
    version = master
